/**
 * Intro box
 */
.introbox {
  width: 60%;
  line-height: 1.5;
  background-color: #77c4d3;
  padding-top: 21%;
  padding-bottom: 22%;
  padding-left: 20%;
  padding-right: 20%;
  font-weight: 100;
  background-color: #77C4D3;
  z-index: 55;
  color: #f8f8f8;
  line-height: 1.3;
}
.bigbox > h1 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 100%;
}
.bigbox > .name {
  position: relative;
  font-size: 3em;
  top: 40%;

}
.bigbox > .subtitle {
  font-size: 1.5em;
  font-weight: 100;
}